@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
@keyframes wiggle {
  0% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 200ms ease-in-out;
  padding: 0 6%;
}
.app[data-theme="1"] {
  background-color: hsl(222deg, 26%, 31%);
}
.app[data-theme="1"] header,
.app[data-theme="1"] .screen,
.app[data-theme="1"] .keypad__option,
.app[data-theme="1"] .keypad__equal,
.app[data-theme="1"] .credit {
  color: hsl(0deg, 0%, 100%);
}
.app[data-theme="1"] .credit a {
  color: hsl(6deg, 63%, 50%);
}
.app[data-theme="1"] .toggle__choice {
  background-color: hsl(223deg, 31%, 20%);
}
.app[data-theme="1"] .toggle__dot {
  background-color: hsl(6deg, 63%, 50%);
}
.app[data-theme="1"] .screen {
  background-color: hsl(224deg, 36%, 15%);
}
.app[data-theme="1"] .keypad {
  background-color: hsl(223deg, 31%, 20%);
}
.app[data-theme="1"] .keypad__number, .app[data-theme="1"] .keypad__operator {
  box-shadow: 0 4px hsl(28deg, 16%, 65%);
  background-color: hsl(30deg, 25%, 89%);
  color: hsl(221deg, 14%, 31%);
}
.app[data-theme="1"] .keypad__option {
  box-shadow: 0 4px hsl(224deg, 28%, 35%);
  background-color: hsl(225deg, 21%, 49%);
}
.app[data-theme="1"] .keypad__equal {
  box-shadow: 0 4px hsl(6deg, 70%, 34%);
  background-color: hsl(6deg, 63%, 50%);
}
.app[data-theme="2"] {
  background-color: hsl(0deg, 0%, 90%);
}
.app[data-theme="2"] header,
.app[data-theme="2"] .screen,
.app[data-theme="2"] .credit {
  color: hsl(60deg, 10%, 19%);
}
.app[data-theme="2"] .keypad__option,
.app[data-theme="2"] .keypad__equal {
  color: hsl(0deg, 0%, 100%);
}
.app[data-theme="2"] .credit a {
  color: hsl(25deg, 98%, 40%);
}
.app[data-theme="2"] .toggle__choice {
  background-color: hsl(0deg, 5%, 81%);
}
.app[data-theme="2"] .toggle__dot {
  background-color: hsl(25deg, 98%, 40%);
}
.app[data-theme="2"] .screen {
  background-color: hsl(0deg, 0%, 93%);
}
.app[data-theme="2"] .keypad {
  background-color: hsl(0deg, 5%, 81%);
}
.app[data-theme="2"] .keypad__number, .app[data-theme="2"] .keypad__operator {
  box-shadow: 0 4px hsl(35deg, 11%, 61%);
  background-color: hsl(45deg, 7%, 89%);
  color: hsl(60deg, 10%, 19%);
}
.app[data-theme="2"] .keypad__option {
  box-shadow: 0 4px hsl(185deg, 58%, 25%);
  background-color: hsl(185deg, 42%, 37%);
}
.app[data-theme="2"] .keypad__equal {
  box-shadow: 0 4px hsl(25deg, 99%, 27%);
  background-color: hsl(25deg, 98%, 40%);
}
.app[data-theme="3"] {
  background-color: hsl(268deg, 75%, 9%);
}
.app[data-theme="3"] header,
.app[data-theme="3"] .screen,
.app[data-theme="3"] .keypad__equal,
.app[data-theme="3"] .credit a {
  color: hsl(52deg, 100%, 62%);
}
.app[data-theme="3"] .credit {
  color: hsl(0deg, 0%, 100%);
}
.app[data-theme="3"] .toggle__choice {
  background-color: hsl(268deg, 71%, 12%);
}
.app[data-theme="3"] .toggle__dot {
  background-color: hsl(176deg, 100%, 44%);
}
.app[data-theme="3"] .screen {
  background-color: hsl(268deg, 71%, 12%);
}
.app[data-theme="3"] .keypad {
  background-color: hsl(268deg, 71%, 12%);
}
.app[data-theme="3"] .keypad__number, .app[data-theme="3"] .keypad__operator {
  box-shadow: 0 4px hsl(290deg, 70%, 36%);
  background-color: hsl(268deg, 47%, 21%);
  color: hsl(52deg, 100%, 62%);
}
.app[data-theme="3"] .keypad__option {
  box-shadow: 0 4px hsl(285deg, 91%, 52%);
  background-color: hsl(281deg, 89%, 26%);
  color: hsl(0deg, 0%, 100%);
}
.app[data-theme="3"] .keypad__equal {
  box-shadow: 0 4px hsl(177deg, 92%, 70%);
  background-color: hsl(176deg, 100%, 44%);
  color: hsl(60deg, 10%, 19%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme__container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.theme__title {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 20px 5px 0;
}

.toggle__bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.toggle__choice {
  flex: 33.3333333333%;
  height: 26px;
  cursor: pointer;
}
.toggle__choice:first-child {
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}
.toggle__choice:last-child {
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
.toggle__dot {
  position: relative;
  top: 23px;
  left: 3px;
  height: 20px;
  width: 20px;
  border-radius: 500px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.toggle__dot:hover {
  filter: brightness(150%);
}
.toggle__numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
  cursor: pointer;
}
.toggle__numbers > div {
  font-size: 12px;
  padding: 0 10px;
}

.screen {
  margin: 25px 0;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.screen__result {
  padding-top: 8px;
  font-size: 40px;
  opacity: 1;
  transition: all 200 ease-in-out;
}
.screen__result--appearing {
  opacity: 0;
}
.screen--error {
  animation: wiggle 0.3s;
}

.keypad {
  border-radius: 7px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 18px;
  column-gap: 15px;
  padding: 25px;
}
.keypad > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 20px 0 12px 0;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.keypad > div:hover {
  filter: brightness(150%);
}

.clicked {
  filter: brightness(150%);
}

#reset {
  grid-column: 1/3;
}

#equal {
  grid-column: 3/5;
}

.keypad__option {
  text-transform: uppercase;
  font-size: 18px;
}

.credit {
  margin: 50px;
  font-size: 16px;
  text-align: center;
  line-height: 1.2em;
}
.credit a {
  font-size: 16px;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
